<header class="header shop">
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">

          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
<!--                      <li class="active"><a href="#">Home</a></li>-->
                      <li><a routerLink="/">Home</a>
                      </li>
                      <li><a routerLink="/shop">Shop</a>
                      </li>
                      <li><a routerLink="/why-Restyle">Why Restyle</a>
                      </li>
                      <li><a href="#" [href]="ifLoggedIn()">Add Product</a></li>
                      <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <a  routerLink="/"><img class="logoHeader" src="assets/logo/logo-restyle.png"></a>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <div *ngIf="isLoggedIn">
                <li> <a routerLink="/account">My account</a></li>
                <li><a style="padding: 10px 15px; cursor: pointer" (click)="onLogout()">Logout </a></li>
              </div>
              <div *ngIf="!isLoggedIn">
                <li ><a routerLink="/login">Login</a></li>
                <li ><a style="padding: 10px 15px" routerLink="/register">Register  </a></li>
              </div>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->

</header>
