<footer class="footer" style="bottom: 0;">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a routerLink="/">Restyle</a>
            </div>
            <p class="text">As humans our responsibility is to take care of our home. Earth needs our help more than ever. Take an action and join the Restyle community.</p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">

          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Get In Touch</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>Skopje, Macedonia.</li>
                <li>restyle.com</li>
                <li>+0000000000</li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2021 <a href="#" target="_blank">Restyle</a>  -  All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
