
<!--<div class="single-product">-->
<!--  <div class="product-img">-->
<!--    <a href="#">-->
<!--      <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">-->
<!--    </a>-->
<!--    <div class="button-head">-->
<!--      <div class="product-action">-->
<!--        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i></a>-->
<!--        <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>-->
<!--        <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="product-content">-->
<!--    <h3><p>Women Hot Collection</p></h3>-->
<!--    <div class="product-price">-->
<!--      <span>$50.00</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



