<section class="section-content padding-y">
  <div class="inner-container container">
    <div class="row">
      <div class="section-header col-md-12">
        <h2>Our Blog</h2>
        <span>Subtitle Goes Here</span>
      </div> <!-- /.section-header -->
    </div> <!-- /.row -->
    <div class="row">
<!--      OVA TREBA DA E EDNO-->
      <div class="blog-masonry masonry-true">
        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/6069530/pexels-photo-6069530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/6609104/pexels-photo-6609104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/3850512/pexels-photo-3850512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

      </div> <!-- /.blog-masonry -->
    </div> <!-- /.row -->

    <div class="row">
    </div> <!-- /.row -->
    <div class="row">
      <!--      OVA TREBA DA E EDNO-->
      <div class="blog-masonry masonry-true">
        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/3302183/pexels-photo-3302183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/2827735/pexels-photo-2827735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/745988/pexels-photo-745988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

      </div> <!-- /.blog-masonry -->
    </div> <!-- /.row -->

    <div class="row">
    </div> <!-- /.row -->
    <div class="row">
      <!--      OVA TREBA DA E EDNO-->
      <div class="blog-masonry masonry-true">
        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/7564273/pexels-photo-7564273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <span class="blog-meta">10 November 2084 by Tawana</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

        <div class="post-masonry col-md-4 col-sm-6">
          <div class="blog-thumb">
            <img src="https://images.pexels.com/photos/2990650/pexels-photo-2990650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <div class="blog-body">
            <div class="box-content">
              <h3 class="post-title">Keep Your Stuff Alive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
            </div>
          </div>
        </div> <!-- /.post-masonry -->

      </div> <!-- /.blog-masonry -->
    </div> <!-- /.row -->
  </div> <!-- /.inner-content -->
</section> <!-- /.content-wrapper -->
