<!--<div class="col-md-6">-->
<!--  <div class="images p-3">-->
<!--    <div class="text-center p-4"> <img id="main-image" src="https://i.imgur.com/Dhebu4F.jpg" width="350" /> </div>-->
<!--  </div>-->
<!--</div>-->

<head>
  <title>Account</title>

</head>
<body>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-20 col-md-12">
        <div class="card product-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-6 bg-c-lite-green">
              <div class="card-block text-center text-white">
                <div> <img src="https://i.imgur.com/Dhebu4F.jpg" class="img-radius" alt="User-Profile-Image"> </div>
                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card-block">
                <br><br>
                <h2 class="m-b-20 p-b-5 b-b-default f-w-600">Product information</h2>
                <br><br>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600" >Product name</p>
                    <h6 class="text-muted f-w-400">X</h6><br>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Seller's email</p>
                    <h6 class="text-muted f-w-400">X</h6><br>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Price</p>
                    <h6 class="text-muted f-w-400">X</h6><br>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Category</p>
                    <h6 class="text-muted f-w-400">X</h6><br>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Size</p> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label> <label class="radio"> <input type="radio" name="size" value="OneSize"> <span>One Size</span> </label>
                  </div>
                  <br>
                  <div class="col-sm-12">
                    <p class="m-b-10 f-w-600">Description</p>
                    <h6 class="text-muted f-w-400 descText">Shop from a wide range of t-shirt from orianz. Pefect for your everyday use, you could pair it with a stylish pair of jeans or trousers complete the look.</h6><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
