img, h2{
  display: inline;
  padding: 3px;
}
body {
  background-color: #f9f9fa;
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  display: inline-block;
  border: 5px solid #74B94A;
  justify-content: center;
  width:100%;

}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.product-card-full .social-link li {
  display: inline-block
}


.page-content{
  margin:0 auto;
  width: 100%;
  padding: 10px;
}

.justify-content-center{
  margin:auto auto;
  width: 100%;
  padding: 10px;
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}
label.radio span {
  padding: 2px 9px;
  border: 2px solid #054A13;
  display: inline-block;
  color: #054A13;
  border-radius: 3px;
  text-transform: uppercase
}

label.radio input:checked+span {
  border-color: #054A13;
  background-color: #74B94A;
  color: #fff
}

.descText{
  font-size: 15px;
  font-weight: lighter;
}
.goBackContainer{
  cursor: pointer;
  padding-top: 10px;
}

.details-text{
  color: dimgray;
  font-weight: bolder;
  font-size: 15px;
  font-family: Helvetica,sans-serif;
}

.goBackBtn{
  width: 100px;
  margin-right: 35px;
  float: right
}
.email-text{

  font-size: 16px;
  color: #243238;
  font-family:Helvetica,sans-serif;
}
.email-text a:hover{
  color: forestgreen;
}
.color-p{
  color: #243238;
}
