<section class="section-content padding-y">
  <div class="container">
    <div class="row">

      <div class="contact-left col-md-8">

      </div>

      <div class="contact-right col-md-4">
        <div class="center-right">
        <div class="contact-info"><img class="centered" alt="" src="../../assets/logo/contact-us-text.png"></div>
          <div class="inner-text">
        <h3>You can either:</h3>
        <h5>> Give us a call: +0000000000</h5>
        <h5>> Send us an e-mail: <a href="mailto:contact@restyle.com"><u>contact@restyle.com</u></a></h5>

          </div></div>
        </div>
    </div>
  </div>
</section>
