.row{
  height: 600px;
  max-width: 1400px;
}
.centered {
  max-width: 300px;
}
.contact-left{
  background-image: url("../../assets/logo/contact-us-left.png");
  max-width: 700px;
}
.contact-right{
  display: inline-block;
  align-content: center;
  max-width: 700px;

}
.center-right{
  transform: translateY(+50%);
}
.contact-info{
  margin-bottom: 30px;
}
.section-content{
  background: linear-gradient(#F2F5F9,#B6C7E7);
}
.inner-text{
  padding-left: 15px;
}
a:hover {color:#0062cc; font-style: oblique}
