<html>
<head>
  <title>New Product</title>
  <base href="/addProduct">
</head>
<body>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

  <!-- ============================ COMPONENT REGISTER   ================================= -->
  <div class="card mx-auto" style="max-width:520px; margin-top:40px;position: relative;min-height: 80vh;">
    <article class="card-body">
      <header class="mb-4"><h4 class="card-title">Add Product</h4></header>
      <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
        <div class="col form-group">
          <label>Image</label>
          <input type="text" class="form-control" formControlName="image" required>
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Product name</label>
          <input type="text" class="form-control" formControlName="productName" required>
        </div> <!-- form-group end.// -->
        <div class="form-group">
          <label>Price</label>
          <input name="price" class="form-control" type="text" formControlName="price" required>
        </div>
        <div class="form-group" style="display: inline-block; margin: 0">

          <div style="display: inline-block; margin-right: 20px" selectCat>
            <label  style="display: block">Category</label>
            <select name="category" id="category" class="form-control" data-placeholder="Categories">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="kids">Kids</option>

            </select>
          </div>
          <div style="display: inline-block" class="selectCat">
            <label style="display: block">Type</label>
            <select name="category" id="categoryType" class="form-control" data-placeholder="CategoriesType">
              <option value="tshirts">T-shirts</option>
              <option value="sweaters">Sweaters</option>
              <option value="skirts">Skirts</option>
              <option value="accessories">Accessories</option>
              <option value="jeans">Jeans</option>
              <option value="jackets">Jackets</option>
              <option value="coats">Coats</option>
              <option value="scarfs">Scarfs</option>
              <option value="bags">Bags</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <!--          <input id="desc" type="text" class="form-control" formControlName="description" required>-->
          <textarea id="desc" name="description" class="form-control" formControlName="description" required></textarea>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Size</label> <br>
            <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label>
            <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label>
            <label class="radio"><input type="radio" name="size" value="L"> <span>L</span> </label>
            <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label>
            <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span>
          </label> <label class="radio"> <input type="radio" name="size" value="OneSize"> <span>One Size</span> </label>

          </div> <!-- form-group end.// -->

        </div> <!-- form-row.// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!addProductForm.valid"> Add</button>
        </div> <!-- form-group// -->

      </form>
    </article><!-- card-body.// -->
  </div> <!-- card .// -->
  <br><br>
  <!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


</body>
</html>
