<header class="section-header" xmlns="http://www.w3.org/1999/html">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
        <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="widgets-wrap float-md-right">

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header> <!-- section-header.// -->


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Products</h2>
    <br>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()" >
        <div class="card">
          <article class="filter-group" >

            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <h6 class="title">What are you looking for?</h6>
                <br>
                <select class="list-menu form-select" formControlName="type">
                  <option value="tshirts">T-shirts</option>
                  <option value="sweaters">Sweaters</option>
                  <option value="skirts">Skirts</option>
                  <option value="accessories">Accessories</option>
                  <option value="pants">Pants</option>
                  <option value="coats">Coats</option>
                  <option value="scarfs">Scarfs</option>
                  <option value="bags">Bags</option>
                  <option value="dresses">Dresses</option>
                  <option value="shirts">Shirts</option>
                </select>

              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <h6 class="title">Select:</h6>
              </a>
              <select class="list-menu" formControlName="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="kids">Kids</option>
              </select>

            </header>

            <div class="filter-content collapse show" id="collapse_4" style="">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group">
                    <h6>Size</h6> <br>
                    <label class="radio"> <input formControlName="size" type="radio" name="size" value="S" checked> <span>S</span> </label>
                    <label class="radio"> <input formControlName="size" type="radio" name="size" value="M"> <span>M</span> </label>
                    <label class="radio"><input formControlName="size" type="radio" name="size" value="L"> <span>L</span> </label>
                    <label class="radio"> <input formControlName="size" type="radio" name="size" value="XL"> <span>XL</span> </label>
                    <label class="radio"> <input formControlName="size" type="radio" name="size" value="XXL"> <span>XXL</span>
                    </label> <label class="radio"> <input formControlName="size" type="radio" name="size" value="One Size"> <span>One Size</span> </label>
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
           <!-- filter-group .// -->
        </div> <!-- card.// -->
        <article class="filter-group">
          <button class="btn btn-outline-success btn-block" style="border-radius: 6px; margin-top: 5px;"
                  type="submit" [disabled]="!filterForm.valid">Filter</button>

<!--          [queryParams]="{ 'size' : this.filterForm.value.size,'type':this.filterForm.value.type}-->

        </article>
        </form>
      </aside> <!-- col.// -->

      <main class="col-md-9">

        <header class="border-bottom mb-1 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">{{productList ? productList.length : 0}} Items found </span>
          </div>
        </header><!-- sect-heading -->


        <div class="row" *ngIf="isDataLoaded">

          <div class="col-md-4 staticCard" *ngFor="let p of productList | paginate: { itemsPerPage: 9, currentPage: p }">
            <figure class="card card-product-grid">
              <!-- list products -->
              <div class="single-product">
                <div class="product-img">
                  <a [routerLink]="['/shop',p.code]">
                    <img class="default-img" src="{{p.image}}" alt="#">
                  </a>
                  <div class="button-head" style="justify-content: center">
                  <p style="font-size: 20px">{{p.category}}</p>
                  </div>
                </div>

                <div class="product-content">
                  <a [routerLink]="['/shop',p.code]">
                  <h5 class="titleOfProduct"><p  class="titleOfProduct">{{p.productName}}</p></h5>
                  </a>
                  <div class="product-price">
                    <span>{{p.price}} MKD</span>
                  </div>
                </div>
              </div>
              <!-- list products//-->
            </figure>
          </div> <!-- col.// -->
          <div class="col-sm-12 pagination-div">
          <pagination-controls (pageChange)="p = $event" ></pagination-controls>
          </div>
        </div>
      </main> <!-- col.// -->

    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

