<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
        <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="widgets-wrap float-md-right">

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header> <!-- section-header.// -->



<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Products</h2>
    <br>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">

        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Product type</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">

                <h6 class="title">What are you looking for?</h6>
                <br>
                <ul class="list-menu">
                  <li><a href="#" value="tshirts">T-shirts</a></li>
                  <li><a href="#" value="sweaters">Sweaters</a></li>
                  <li><a href="#" value="skirts">Skirts</a></li>
                  <li><a href="#" value="accessories">Accessories </a></li>
                  <li><a href="#" value="pants">Pants</a></li>
                  <li><a href="#" value="coats">Coats</a></li>
                  <li><a href="#" value="scarfs">Scarfs</a></li>
                  <li><a href="#" vvalue="bags">Bags</a></li>
                  <li><a href="#" value="dresses">Dresses</a></li>
                  <li><a href="#" value="shirts">Shirts</a></li>
                </ul>

              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <h6 class="title">Select:</h6>
              </a>
              <ul class="list-menu">
                <li><a href="#" value="male">Male</a></li>
                <li><a href="#" value="female">Female</a></li>
                <li><a href="#" value="kids">Kids</a></li>
              </ul>
            </header>

          </article> <!-- filter-group .// -->

          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Price range </h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
              <div class="card-body">
                <input type="range" class="custom-range" min="0" max="100" name="">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>
                    <input class="form-control" placeholder="$0" type="number">
                  </div>
                  <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <input class="form-control" placeholder="$1,0000" type="number">
                  </div>
                </div> <!-- form-row.// -->
                <button class="btn btn-block btn-primary">Apply</button>
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Sizes </h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group">
                    <label>Size</label> <br>
                    <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label>
                    <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label>
                    <label class="radio"><input type="radio" name="size" value="L"> <span>L</span> </label>
                    <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label>
                    <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span>
                    </label> <label class="radio"> <input type="radio" name="size" value="OneSize"> <span>One Size</span> </label>
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">{{productList ? productList.length : 0}} Items found </span>
            <button class="mr-2 form-control" value="latestItems">
              <option>Latest items</option>
            </button>
            <div class="btn-group">
              <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title="List view">
                <i class="fa fa-bars"></i></a>
              <a href="#" class="btn  btn-outline-secondary active" data-toggle="tooltip" title="Grid view">
                <i class="fa fa-th"></i></a>
            </div>
          </div>
        </header><!-- sect-heading -->

        <div class="row" *ngIf="isDataLoaded">

          <div class="col-md-4 staticCard"  *ngFor="let p of productList">
            <figure class="card card-product-grid">
              <!-- list products -->
              <div class="single-product">
                <div class="product-img">
                  <a href="#">
                    <img class="default-img" src="{{p.image}}" alt="#">
                  </a>
                  <div class="button-head" style="justify-content: center">

                  <p style="font-size: 20px">{{p.category}}</p>
                  </div>
                </div>
                <div class="product-content">
                  <h5 class="titleOfProduct"><p  class="titleOfProduct">{{p.productName}}</p></h5>
                  <div class="product-price">
                    <span>{{p.price}}denars</span>
                  </div>
                </div>
              </div>
              <!-- list products//-->
            </figure>
          </div> <!-- col.// -->

        </div>

        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>

      </main> <!-- col.// -->

    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

