.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0A38F5;
}
.dark-pink-text {
  color: #AC003A;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}
body{
  background-color: #2ecc71;
}
.single-slider{
  background-image: url("../../assets/photos/untitled.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  height: 500px;
}

.section-title h2::before{
  background-color: #3e8e41;
}

.single-banner{
  max-width: 100%;
  height: auto;
}
.single-banner img{
  width:  405px;
  height: 250px;

}
.overlay:hover{
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
  transform: scale(1.2);
}
.single-banner .content{
  width: 330px;
}
.single-banner .content p{
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.content .ecology{
  height: fit-content;
  width: auto;

}
.ecologyImg{
  background: url("https://images.pexels.com/photos/2283496/pexels-photo-2283496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.air p strong{
  color: antiquewhite;
  text-shadow: 2px 1px black;
}
.water p strong{
  color: deepskyblue;
  text-shadow: 2px 1px black;
}
.planet p strong{
  color: #00e81d;
  text-shadow: 2px 1px black;

}
.img-link:hover{
  cursor: pointer;

  /*box-shadow: 2px 2px 2px black;*/
  box-shadow: 1px 2px 5px darkgray;
  transform: scale(0.9);
}
