
<!-- Slider Area -->
<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider ">
    <div class="container photo">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text">
                  <div class="button">
                    <!--                    <a href="#" class="btn">Shop Now!</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->

<!-- Start Small Banner  -->
<section class="small-banner section container">
  <div class="container-fluid">
    <div class="row">
      <!-- Single Banner  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-banner overlay">
          <img
            src="https://images.pexels.com/photos/1737779/pexels-photo-1737779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="#">
          <div class="content">
            <p>We breathe the same <strong>air</strong></p>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
      <!-- Single Banner  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-banner overlay ">
          <img src="https://www.ecotextile.com/images/stories/2020/September/Water_pollution.jpg" alt="#">
          <div class="content">
            <p>We drink the same <strong>water</strong></p>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
      <!-- Single Banner  -->
      <div class="col-lg-4 col-12">
        <div class="single-banner tab-height overlay">
          <img
            src="https://images.pexels.com/photos/5433125/pexels-photo-5433125.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="#">
          <div class="content">
            <p>We walk on the same <strong>planet</strong></p>

          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
    </div>
  </div>
</section>
<!-- End Small Banner -->

<!-- End Midium Banner -->

<!--&lt;!&ndash; Start Most Popular&ndash;&gt;-->
<!--&lt;!&ndash;baner so produkti&ndash;&gt;-->
<!--<div class="product-area most-popular section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <div class="section-title">-->
<!--          <h2>Recent products</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <div class="owl-slider-carousel popular-slider">-->
<!--          &lt;!&ndash; Start Single Product &ndash;&gt;-->
<!--          <div class="single-product" *ngFor="let p of productList" >-->
<!--            <div class="product-img">-->
<!--              <div class="product-img">-->
<!--                <a [routerLink]="['/shop',p.code]">-->
<!--&lt;!&ndash;                  <img class="default-img" src="{{p.image}}" alt="#">&ndash;&gt;-->
<!--                </a>-->
<!--                <div class="button-head" style="justify-content: center">-->

<!--                  <p style="font-size: 20px">{{p.category}}</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="product-content">-->
<!--              <h5 class="titleOfProduct"><p  class="titleOfProduct">{{p.productName}}</p></h5>-->
<!--              <div class="product-price">-->
<!--                <span>{{p.price}}MKD</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Single Product &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; End Most Popular Area&ndash;&gt;-->


<div class="product-area most-popular section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Recent products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel popular-slider">
          <!--                &lt;!&ndash;                <div  *ngFor="let p of productList">&ndash;&gt;-->
          <!--                <div class="single-product" *ngFor="let p of productList">-->
          <!--                  &lt;!&ndash; list products &ndash;&gt;-->
          <!--                  <div class="product-img">-->
          <!--                    <a [routerLink]="['/shop',p.code]">-->
          <!--                      <img class="default-img" src="{{p.image}}" alt="#">-->
          <!--                    </a>-->
          <!--                    <div class="button-head" style="justify-content: center">-->
          <!--                      <p style="font-size: 20px">{{p.category}}</p>-->
          <!--                    </div>-->
          <!--                  </div>-->

          <!--                  <div class="product-content">-->
          <!--                    <a [routerLink]="['/shop',p.code]">-->
          <!--                      <h5 class="titleOfProduct"><p class="titleOfProduct">{{p.productName}}</p></h5>-->
          <!--                    </a>-->
          <!--                    <div class="product-price">-->
          <!--                      <span>{{p.price}} MKD</span>-->
          <!--                    </div>-->
          <!--                  </div>-->

          <!--                  &lt;!&ndash; list products//&ndash;&gt;-->
          <!--                </div>-->
          <!--                &lt;!&ndash;                </div>&ndash;&gt;-->

          <!-- Start Single Product -->

<!--          <div class="single-product col-md-4" *ngFor="let p of reverseList">-->
<!--            <div class="product-img">-->
<!--              <a [routerLink]="['/shop',p.code]">-->
<!--                <img class="default-img" src="{{p.image}}" alt="#">-->
<!--              </a>-->
<!--              <div class="button-head" style="justify-content: center">-->
<!--                <p style="font-size: 20px">{{p.category}}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="product-content">-->
<!--              <a [routerLink]="['/shop',p.code]">-->
<!--                <h5 class="titleOfProduct"><p class="titleOfProduct">{{p.productName}}</p>-->
<!--                </h5>-->
<!--              </a>-->
<!--              <div class="product-price">-->
<!--                <span>{{p.price}} MKD</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Single Product &ndash;&gt;-->
          <!-- Start Single Product -->
          <div class="single-product col-md-4" *ngFor="let p of reverseList">
            <div class="product-img">
              <a href="#">
                <img class="default-img" src="{{p.image}}" alt="#">
                <img class="hover-img" src="{{p.image}}" alt="#">
              </a>
              <div class="button-head">
<!--                <div class="product-action">-->
<!--                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>-->
<!--                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>-->
<!--                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>-->
<!--                </div>-->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="#">Women Hot Collection</a></h3>
              <div class="product-price">
                <span>$50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->

        </div>
      </div>
    </div>
  </div>
</div>



<!-- Start Shop Home List  -->
<section class="shop-home-list section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>Accessories</h1>
            </div>
          </div>
        </div>
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image "> <!-- vo klasata imase overlay za nad slikata-->
                <img src="{{productList[15].image}}" alt="#">
                <a href="/shop" class="buy-p"></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="/shop">{{productList[15].productName}}</a></h4>
                <p>{{productList[15].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image ">
                <img src="{{productList[25].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[25].productName}}</a></h4>
                <p>{{productList[25].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[11].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[11].productName}}</a></h4>
                <p>{{productList[11].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>Sweaters</h1>
            </div>
          </div>
        </div>
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[2].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[2].productName}}</a></h4>
                <p>{{productList[2].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[0].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[0].productName}}</a></h4>
                <p>{{productList[0].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[30].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[30].productName}}</a></h4>
                <p>{{productList[30].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>T-shirts</h1>
            </div>
          </div>
        </div>
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[18].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[18].productName}}</a></h4>
                <p>{{productList[18].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[20].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[20].productName}}</a></h4>
                <p>{{productList[20].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image">
                <img src="{{productList[19].image}}" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">{{productList[19].productName}}</a></h4>
                <p>{{productList[19].price}} MKD</p>
                <a href="/shop"><img src="../../assets/logo/shop-icon.png" alt="#" style="width: 100px"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Home List  -->

<!-- Start Cowndown Area -->
<section class="cown-down">
  <div class="section-inner ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 padding-right">
          <div class="image">
            <img src="https://via.placeholder.com/750x590" alt="#">
          </div>
        </div>
        <div class="col-lg-6 col-12 padding-left">
          <div class="content ecologyImg">
<!--            <img class="overlay ecology" src="https://images.pexels.com/photos/2283496/pexels-photo-2283496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">-->

            <div class="heading-block">
              <p class="small-title">Deal of day</p>
              <h3 class="title">Slika za ekologija</h3>
              <p class="text">Tekst za ekologija </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /End Cowndown Area -->
<br>
<br>
<!-- Start Shop Services Area -->
<section class="shop-services section home">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <img src="assets/photos/money-icon.png">
          <p>Reason to thrift:</p>
          <h4>Save and make money</h4>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <img src="assets/photos/party-icon.png">
          <p>Reason to thrift:</p>
          <h4>Fun and entertainment</h4>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <img src="assets/photos/unique-icon.png">
          <p>Reason to thrift:</p>
          <h4>Find something unique</h4>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <img src="assets/photos/save-icon.png">
          <p>Reason to thrift:</p>
          <h4>Help the planet</h4>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Services Area -->
<br>
<br>
