<head>
  <title>Account</title>
  <base href="/account">
  <style>
    img, h2{
      display: inline;
      padding: 3px;
    }
  </style>
</head>
<body>
<section class="section-conten padding-y" style="min-height:100vh">
  <div class="card mx-auto" style="max-width: 500px; margin-top:100px;">
    <div class="card-body">
      <img style="width: 50px; height: 50px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.iconscout.com%2Ficon%2Ffree%2Fpng-256%2Fprofile-417-1163876.png&f=1&nofb=1" alt="account">
      <h2 class="card-title mb-4">Account</h2>
      <div>Name: </div>
      <div>Surname: </div>
      <div>Username: </div>
      <div>E-mail: </div>
      <div>City: </div>
    </div>
  </div>
</section>
</body>
