<html>
<head>
  <title>Register</title>
  <base href="/register">
</head>
<body>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

  <!-- ============================ COMPONENT REGISTER   ================================= -->
  <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    <article class="card-body">
      <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col form-group">
            <label>First name</label>
            <input type="text" class="form-control"  formControlName="FirstName">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Last name</label>
            <input type="text" class="form-control" formControlName="LastName">
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
          <label>Username</label>
          <input name="username" class="form-control" type="text" formControlName="username" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="Email">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" formControlName="City">
          </div> <!-- form-group end.// -->

        </div> <!-- form-row.// -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Create password</label>
            <input class="form-control" type="password" formControlName="password">
          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label>Repeat password</label>
            <input class="form-control" type="password" formControlName="RepeatPassword">
          </div> <!-- form-group end.// -->
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid"> Register  </button>
        </div> <!-- form-group// -->
<!--        <div class="form-group">-->
<!--          <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>-->
<!--        </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
      </form>
    </article><!-- card-body.// -->
  </div> <!-- card .// -->
  <p class="text-center mt-4">Have an account? <a routerLink="/login">Log In</a></p>
  <br><br>
  <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



</body>
</html>
